@charset "utf-8";




/*컨테이너*/
#container{}

/*뉴패밀리*/
.sub1_2Tit{
    height:150px;
    line-height: 150px;
    text-align: center;
    background:#b2e8ff;
}
.sub1_2Tit h2{}

.familyTit{
    background:#f7f2e6;
    padding:50px 0;
}
.familyTit dl dt{
    color:#099ede;
    font-size: 35px;
    float: left;
}
.familyTit dl dd{
    color:#222;
    float: left;
    font-size: 15px;
    line-height: 30px;
    margin-left: 100px;
}


/*분양규칙*/
.familyRule{
    padding:50px 0;
    background:#ddd url(../images/catPaw1_2.png) no-repeat 80% bottom;
}
.familyRule .inner div{
    background:#f3476f;
    color:#fff;
    display: inline-block;
    padding:5px 15px;
    box-shadow: 3px 3px 0 #666;
    margin-bottom: 20px;
}
.familyRule p{
    font-size: 14px;
    line-height: 30px;
    padding-left:15px;
}
.familyRule p span{
    color: #e83636;
    border-bottom: 1px solid;
}



/*분양 견종*/
.familyBreed{
    overflow: hidden;
    padding:50px 0;
}
.dogBreeds{
    width:285px;
    height:320px;
    margin-right: 20px;
    margin-bottom: 20px;
    border:1px solid #ddd;
    box-sizing: border-box;
    float:left;
}
.dogBreeds:nth-child(4n){
    margin-right: 0;
}

.breedImg{
    width:100%;
    height:250px;
}
.dog01{
    background:url(../images/sub/dog01.png) no-repeat center;
}
.dog02{
    background:url(../images/sub/dog02.png) no-repeat center;
}
.dog03{
    background:url(../images/sub/dog03.png) no-repeat center;
}
.dog04{
    background:url(../images/sub/dog04.png) no-repeat center;
}
.dog05{
    background:url(../images/sub/dog05.png) no-repeat center;
}
.dog06{
    background:url(../images/sub/dog06.png) no-repeat center;
}
.dog07{
    background:url(../images/sub/dog07.png) no-repeat center;
}
.dog08{
    background:url(../images/sub/dog08.png) no-repeat center;
}
.dog09{
    background:url(../images/sub/dog09.png) no-repeat center;
}
.dog10{
    background:url(../images/sub/dog10.png) no-repeat center;
}

.breedText{
    width:100%;
    height:70px;
    line-height: 70px;
    padding-left: 15px;
}





