@charset "utf-8";


/*헤더시작*/
#header{
    height:70px;
    padding:0 10px;
    background:#37465b;
    position: relative;
}
#header h1{
    width:140px;
    height:100%;
    background: url(../m_images/m_common/logo.png) no-repeat center;
    background-size: 100%;
    text-indent: -9999px;
    float:right;
}
#header h1 a{
    display: block;
}



/*패널아이콘*/
.pannel{
    position: absolute;
    top:50%;
    margin-top:-11px;
}
.pannel a{
    display: block;
}
.pannel a span{
    width:25px;
    height:2px;
    background: #fff;
    display: block;
    margin: 8px 0;
    text-indent: -9999px;
}
.pannel a:before,.pannel a:after{
    content: "";
    width:25px;
    height:2px;
    background: #fff;
    display: block;
}

/*패널메뉴*/
.pannelMenu{
    width: 90%;
    height: 100%;
    position: relative;
    position: fixed;
    z-index:100;
    top: 0;
    left:0;
    background:url(../m_images/m_common/paper.jpg);
    overflow-x: hidden;
    text-align: center;
    display:none;
    transition: 0.5s;
}
.closeP{
    width:25px;
    height:25px;
    display: block;
    position: absolute;
    right:15px;
    top:15px;
}

    /*메인메뉴*/
.m_gnb{
    padding-top:60px;
}
.m_gnb li{
    border-top:1px solid #666;
    background:url(../m_images/m_common/arrow_bottom02.png) no-repeat top right;
    margin: 0 30px;
    font-size: 16px;
    font-weight: 700;
}
.m_gnb li a{
    color:#222;
    display: block;
    padding:20px 0;
}
.m_gnb a:before,.m_gnb a:after{
    display: none;
}
.m_gnb li.gnbTitle{
    background:none;
    border: 0;
    padding: 0;
    display: block;
}
.gnbTitle img{
    display: block;
    width:100%;
    margin: 30px auto;
}
.m_gnb li.gnbTitle img.m_gnbLogo{
    width:140px;
    margin: 0;
    float:right;
    display: block;
}

    /*서브메뉴*/
.m_lnb{
    display: none;
}
.m_lnb li{
    border-top:0;
    font-size:14px;
    font-weight: normal;
    background:none;
}
.m_lnb li a{
    display: block;
    padding:20px 0;
}

.gnbTit{
    
}
.m_gnbSlogan{
    width:70%;
    margin: 50px 0;
}
.m_gnbLogo{
    width:140px;
}

    /*호버*/
.pannel:hover .pannelMenu{
    display:block;
}
.m_gnb li:hover .m_lnb{
    display: block;
}



/*푸터*/
#footer{
    background: #37465b;
    text-align: center;
    color:#fff;
    padding:20px 0;
    font-size: 11px;
    position: relative;
}

.footerTit{
    font-size: 14px;
    margin-bottom: 20px;
}
.footerTit span{
    font-weight: 800;
}

.footerAddress{}

.footerCall{
    width:calc(100% - 20px);
    margin: 15px auto;
}
.footerCall li{
    width:calc(50% - 3px);
    margin-right: 6px;
    background: #202a37;
    padding:10px 0;
    line-height: 20px;
    float: left;
}
.footerCall li:last-child{
    margin: 0;
}
.footerCall li a{
    color:#fff;
    display: block;
}
.footerCall li a span{
    font-size: 14px;
}
    /*탑버튼*/
.topBtn{
    width:30px;
    height:25px;
    line-height: 30px;
    background:#202a37;
    border-radius: 50% 50% 0 0;
    position: absolute;
    right:10px;
    top:-25px;
}
.topBtn a{
    display: block;
    color:#fff;
    font-weight: 800;
}




