@charset "utf-8";


/*메인슬라이더*/
.mainSlider{
    width:100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.mainSlider img{
    height:400px;
    position: absolute;
    left:50%;
    margin-left: -300px;
}

/*슬라이더 텍스트*/
.sliderText{
    color:#fff;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    height:87px;
    font-size: 13px;
    margin-top: 40%;
    margin-bottom: 40%;
}
.sliderText h3{
    font-size: 25px;
}
.sliderText p{
    margin-top: 10px;
    
}

/*자세히보기 버튼*/
.MoreBtn{
    color:#222;
    background:rgba(255,255,255,0.6) url(../m_images/m_common/arrow_right.png) no-repeat 95% center;
    border-radius:5px;
    display: inline-block;
    padding:10px 25px;
    margin-top: 30px;
}

/*슬라이더 버튼*/
.sliderBtn{
    height:400px;
}
.sliderBtn div{
    width:24px;
    height:24px;
    text-indent: -9999px;
}

.prev{
    background: url(../m_images/m_common/prev.png) no-repeat center;
    position: absolute;
    top:50%;
    margin-top: -12px;
    left:10px;
}
.prev a{
    display: block;
}
.next{
    background: url(../m_images/m_common/next.png) no-repeat center;
    position: absolute;
    top:50%;
    margin-top: -12px;
    right:10px;
}
.next a{
    display: block;
}



/*메인로우1*/
.mainRow1{
    background:url(../m_images/m_main/row1Bg.png) center;
    padding:30px 0;
    text-align: center;
}
.mainRow1 h2{
    color:#fff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

.row1Wrap{
    width:calc(100% - 20px);
    margin: 0 auto;
    
}
.row1Con{
    width:1500px;
    height:190px;
    overflow-x: scroll;
}
.row1Con li{
    width:150px;
    margin-right: 10px;
    float:left;
}

.row1Con li a{
    display: block;
    color:#fff;
}
.row1Con li a img{
    width:100%;
    box-shadow: 1px 1px 3px 1px #222;
}
.row1Con li a p{
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0;
}



/*메인로우2*/
.mainRow2{
    background: rgba(255,255,255,0.2) url(../m_images/m_main/row2Bg.jpg) no-repeat center bottom;
    text-align: center;
    padding:30px 0;
}
.mainRow2 h2{
    color:#fff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

.row2Btn{
    width:calc(100% - 20px);
    margin: 0 auto;
}
.row2Btn li{
    width:50%;
    float:left;
    box-sizing: border-box;
    padding:15px;
}
    /*row2 li 배경색*/
.btnMap{
    background:#96bbb3;
}
.btnProgram{
    background:#628fd8;
}
.btnTransport{
    background:#eca39e;
}
.btnGallery{
    background:#f75672;
}

.row2Btn li a{
    color:#fff;
    display: block;
}
.row2Btn li a img{
    width:100%;
}
.row2Btn li a p{
    font-size: 14px;
    font-weight: bold;
}



/*메인로우3*/



















