@charset "utf-8";


.top01Btn li:first-child{
    background: #96bbb3;
}
.top01Btn li:first-child a{
    color:#fff;
    font-weight: 700;
}


/*교촌마을 내용*/
.village div{
    margin-bottom: 50px;
}
.village h3{
    width:calc(100% - 20px);
    margin: 0 auto;
    margin-bottom: 20px;
    color:#37465b;
    font-size: 20px;
}
.village h3:before{
    content: "";
    display: block;
    width:5px;
    height:5px;
    background:#37465b;
    margin-bottom:3px;
}
.village p{
    width:calc(100% - 20px);
    margin: 0 auto;
    font-size: 14px;
    line-height: 25px;
}
.village img{
    width:100%;
}

/*교촌마을의 유래*/
.history img{
    margin:15px 0;
}

/*교촌마을 위치*/
.position img{
    margin-top: 15px;
}





