@charset "utf-8";


.top03Btn li:first-child{
    background: #eca39e;
}
.top03Btn li:first-child a{
    color:#fff;
    font-weight: 700;
}


/*프로그램 내용*/
.program{
    width:calc(100% - 20px);
    margin: 0 auto;
}
.program h3{
    margin-bottom: 15px;
    color:#5b85ca;
    font-size: 20px;
}
.program h3:before{
    content: "";
    display: block;
    width:5px;
    height:5px;
    background:#5b85ca;
    margin-bottom:3px;
}


/*월별 행사 프로그램*/
.monthPerform{}

.monthPerform p{
    text-align: center;
    padding:70px 0;
    border:3px solid #ddd;
    margin-bottom: 50px;
}



