@charset "utf-8";


#container{
    width:calc(100% - 20px);
    margin: 0 auto;
}

#container h2{
    padding:20px 0;
    text-align: center;
    color:#37465b;
    font-size: 25px;
    font-weight:;
}


/*오시는길*/
/*맵뷰*/
.mapView{ 
}
.mapLink{
    width:100%;
    height:300px;
    border:1px solid #ddd;
    overflow: hidden;
}
.mapView p{
    margin-top: 5px;
    font-weight: 700;
}
.address{
    color:#37465b;
}
.addressE{
    color:#acacac;
    font-size: 11px;
}
.addressT{
    color:#666;
}


/*교통수단*/
.way{
    margin-bottom: 50px;
}

.transport{}
.transport h3{
    padding:30px 0 15px 0;
    color:#5b85ca;
    font-size: 20px;
}
.transport h3:before{
    content: "";
    display: block;
    width:5px;
    height:5px;
    background:#5b85ca;
    margin-bottom:3px;
}
.transport dl{
    font-size: 12px;
    line-height: 30px;
    float:left;
    border-top:1px solid #5b85ca;
}
.transport dl dt{
    height:30px;
    text-align: center;
    background:#ddd;
    font-weight: 700;
}
.transport dl dd{
    height:30px;
    border-bottom:1px solid #acacac;
    box-sizing: border-box;
}



    /*dl width/정렬 조정*/
.transportStart{
    width:40%;
}
.transportTime{
    width:17%;
    border-left:1px solid #acacac;
    border-right:1px solid #acacac;
    text-align: center;
    box-sizing: border-box;
}
.transportDist{
    width:43%;
}
.transportDist dd{
    padding-left:7px;
}
